h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    border-radius: .5rem;
    grid-row: span 2;
    height: 2.5rem;
    width: 2.5rem;
}

td {
    border-bottom: 1px solid #444;
    font-weight: bold;
}

td:nth-child(2) { width: 100% }

td a {
    align-items: center;
    display: grid;
    font-weight: normal;
    gap: 0 .5rem;
    grid-template-columns: auto 1fr;
}

th {
    position: sticky;
    text-align: left;
    top: 0;
}

tr > :last-child { text-align: right }
