table, th:first-child  { width: 100% }

tbody td, thead th             { text-align: right }
tbody th, thead th:first-child { text-align: left  }

#tables {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
}

@media (max-width: 37rem) {
    #tables { flex-direction: column }
}
