aside { gap: 0 }

aside header {
    background: #444;
    color: #fff;
    font-weight: bold;
    padding: .25rem .5rem;
    width: 100%;
}

main { grid-template: min-content min-content 1fr / 1fr 15rem }

main > h2 {
    grid-column: 1 / -1;
    text-transform: uppercase;
}

@media (max-width: 30rem) { main { grid-template-columns: 1fr } }
